body {
  background: linear-gradient(180deg, #c2e6fb 0%, #ffffff 100%);
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #222;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #d35400d7;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

a {
  color: #2a6f97;
}

#primary-main {
  display: grid;

  /* This was set to max-content, but changing it
  to this is what lets lines break on screen zoom */
  grid-template-columns: minmax(0, 1fr);

  grid-template-rows: repeat(4, max-content);
}

#primary-header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#primary-nav-sidebar-button-section {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#primary-nav-sidebar {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#primary-main-content {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

#primary-footer {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

.hidden {
  display: none;
}